#guestLayout {
    background: #f8f8f8;

    #loginContainer {
        width: 400px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20%;
        margin-left: auto;
        margin-right: auto;
    }
}
